*.h         eol=crlf
*.cpp       eol=crlf
*.C         eol=crlf
*.rc        eol=crlf
*.vcproj    eol=crlf
*.vcxproj   eol=crlf
*.vcxproj.filters    eol=crlf
*.bat       eol=crlf
*.sln       eol=crlf
*.ico       -text
